*{
    margin: 0;
    padding: 0;
}
/* This is shared Part */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.common-width{
    margin: 0px 240px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0px;
}
.common-button{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}


/* This is homepage part */
.home-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.home-page-container{
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
    padding-left: 240px;
}
.home-left-section{
    width: 50%;
}
.home-image{
    margin-top: 20px;
    padding-right: 130px;
}
/* This is featured flower section */
.feature-head{
    text-align: center;
    margin-top: 90px;
}
.feature-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.feature-container{
    height: 100vh;
}
.feature-image{
    width:200px;
    height: 250px;
    margin: 68px 38px 38px 38px;
}
.image-title{
    color: #272727;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: -30px;
}
.feature-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}
.box{
    width: 30%;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.feature-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 100px 0px;
}
.foot1{
    text-align: center;
}
